*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(5, 28, 44);
    padding: 15px 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}
a{
    text-decoration: none;
}
.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
}
nav ul a{
    color: white;
    padding: 8px 12px;
}
.arrow {
    font-size: 14px;
    margin-left: 5px;
}
nav ul a:hover{
    background-color: white;
    color: brown;
}
.navLinks{
    color: white;
    display: flex;
    gap: 6px;
    align-items: center;
    color: aliceblue;
}
.navLinks a{
    color: aliceblue;
}

#vertical-Line{
    display: block;
    width: 2px;
    height: 15px;
    background: #fff;
}
.logo-section{
    display: flex;   
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: 0.9;
}
.logo-section .logo{
    order: 2;
}